@import "../../node_modules/compass-mixins/lib/_compass.scss";

@import url('./menu_item.css');
@import url('__item__border.css');
.menu{
  //margin-left: 5%;
  &__item{
    @include border-radius(100% 0 0 / 19px 0 0);
  }
  &__item.video{
    @include background(linear-gradient(180deg, rgba(25,216,255,1) 0, rgba(25,128,255,1) 99%, rgba(12,206,22,1) 100%));
  }
  &__item.video:hover {
    @include background(linear-gradient(180deg, rgb(25,128,255) 0, rgb(25,128,255) 1%, rgb(25,216,255) 100%));
    background-position: 50% 50%;
    @include background-origin(padding);
    @include background-clip(border);
    @include background-size(auto auto);
  }

  &__item.news{
    @include background(linear-gradient(180deg, rgba(170,255,25,1) 0, rgba(12,206,22,1) 100%));
  }
  &__item.news:hover {
    @include background(linear-gradient(180deg, rgba(12,206,22,1) 0, rgba(170,255,25,1) 100%));
    background-position: 50% 50%;
    @include background-origin(padding);
    @include background-clip(border);
    @include background-size(auto auto);
  }

  &__item.photo{
    @include background(linear-gradient(180deg, rgba(255,255,25,1) 0, rgba(232,179,20,1) 100%));
  }
  &__item.photo:hover {
    @include background(linear-gradient(180deg, rgba(232,179,20,1) 0, rgba(255,255,25,1) 100%));
    background-position: 50% 50%;
    @include background-origin(padding);
    @include background-clip(border);
    @include background-size(auto auto);
  }

  &__item.schedule{
    @include background(linear-gradient(180deg, rgba(255,124,25,1) 0, rgba(234,92,21,1) 100%));
  }
  &__item.schedule:hover {
    @include background(linear-gradient(180deg, rgba(234,92,21,1) 0, rgba(255,124,25,1) 100%));
    background-position: 50% 50%;
    @include background-origin(padding);
    @include background-clip(border);
    @include background-size(auto auto);
  }

  &__item.home{
    @include background(linear-gradient(180deg, rgba(255,48,25,1) 0, rgba(207,4,4,1) 100%), #0199d9);
  }
  &__item.home:hover {
    @include background(linear-gradient(180deg, rgb(207,4,4) 0, rgb(255,48,25) 100%));
    background-position: 50% 50%;
    @include background-origin(padding);
    @include background-clip(border);
    @include background-size(auto auto);
  }

  &__item a{
    text-decoration: none !important;
    color: rgba(255,255,255,1) !important;
  }
}