header
	!= "<!--[if lte IE 7]>"
		p.ie-message IE7 or lower found! A lot of css styles and other stuff might display wrong!
	!= "<![endif]-->"
	h1 Personal page (blog) of Andrii Pavlovych
	nav
		include menu