ul.menu
	li.menu__item.home
		a(href="index.html") Home Page
	li.menu__item.schedule
		a(href="rozklad.html") My schedule
	li.menu__item.photo
		a(href="photo.html") Photo album
	li.menu__item.news
		a(href="news.html") Last news
	li.menu__item.video
		a(href="video.html") Video