html
	head
		meta(http-equiv="Content-Type" content="text/html" charset="UTF-8")
		title
			block page_title
		block _style
	body
		include ../template/header
		block page
		include ../template/aside
		include ../template/footer