extends layouts/layout
include ./mixin/mixins

	block page_title
		|Last News
	block page
		content
			h4 Last news
			+news_section("./images/an178.png", "03.07.2017", "ДП «АНТОНОВ» надав пропозиції щодо розвитку спільних авіаційних україно−американських проектів", "3 липня 2017 року ДП «АНТОНОВ» відвідала делегація Комітету транспорту та інфраструктури Палати представників Конгресу США. Під час візиту відбулося обговорення співпраці між Україною та США в авіаційній галузі.", "http://www.antonov.com/news/516")

			+news_section("./images/rocket.jpg", "02.06.2017", "“Південмаш” і Sea Launch підписали контракт на виробництво і поставку 12 ракет-носіїв “Зеніт”", "На даний момент на підприємстві приступили до виробництва 2 ракет з цього проекту. На підприємстві зазначають, що на сьогодні портфель замовлень “Південмашу” на найближчі роки перевищує 350 млн дол. Серед основних замовників – компанії США, Італії, Індії, Кореї та інших країн.", "http://www.yuzhmash.com/presscenter/news/new?id=284")
			
			+news_section("./images/fire.jpg", "08.06.2017", "Арабська компанія NAFFCO відкриє в Чернігові завод з виробництва протипожежного обладнання", "Підписано Меморандум про взаєморозуміння між трьома сторонами: Чернігівською облдержадміністрацією, Чернігівською міськрадою та компанією NAFFCO. Документ підписав Генеральний представник компанії NationalFireFightingManufacturingFZCO (NAFFCO) в Україні Абед Алуан. Відповідно до положень Меморандуму, арабська компанія як інвестор має намір відкрити в Чернігові завод з виробництва протипожежного обладнання. Продукція цього заводу вироблятиметься під торгівельною маркою NAFFCO, але маркуватиметься як «Зроблено в Україні».", "http://www.uezd.com.ua/arabska-kompaniya-naffco-vidkryje-v-chernihovi-zavod-z-vyrobnytstva-protypozhezhnoho-obladnannya/")
			
			+news_section("./images/ships.jpg", "08.06.2017", "Флот Украины получит американские патрульные катера Islands", "Решение о передаче украинскому флоту американских военных патрульных катеров Islands после учений Sea Breeze-2017 принято. Об этом 17 июля в эфире Радио Крым.Реалии сказал контр-адмирал ВМС Украины Андрий Тарасов. 'Переговоры перешли уже на уровень более низкий, фактически решение о передаче принято и обсуждаются детали. Надеюсь, что этот процесс будет достаточно быстрым, и мы эти катера получим', – сказал Тарасов.", "https://ru.krymr.com/a/news/28620982.html")
			
			+news_section("./images/victory.jpg", "08.06.2017", "Как в Украине #ничегониделаеца", "Список обзоров 'Как в Украине ничегониделаеца' и 'Відродження нації Руси-України' (ссылки). В виду постоянного увеличения количества обзоров 'Как в Украине ничегониделаеца' и невозможности добавления всех ссылок на предыдущие дайджесты в каждый выпуск, создан пост (перманентно дополняется), в котором аккумулированы ссылки на все прошлые и будущие части обзоров.", "http://oleg-leusenko.livejournal.com/7026570.html")