header
	h1 Personal page (blog) of Andrii Pavlovych
	nav
		ul
			li
				a(href="rozklad.html") My schedule
			li
				a(href="photo.html") Photo album
			li
				a(href="news.html") Last news
			
			li
				a(href="video.html") Video