border-radius(n)
  -webkit-border-radius n
  -moz-border-radius n
  border-radius n

.menu
	&__item
		border-radius(100% 0 0 / 19px 0 0)

.base
	position: relative
	width: 100% !important
	height: auto
	margin-bottom: 10px !important
	padding: 10px 10px !important
	border: none !important;
	font: normal 16px/1 "Times New Roman", Times, serif !important
	-o-text-overflow: ellipsis !important;
	text-overflow: ellipsis !important;